{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>Bills for {{ month }}</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h3>Block A</h3>

                {% include 'inc/table.html.twig' with { is_active_month: is_active_month, bills: block_a } %}

            </div>
            <div class="col-6">
                <h3>Block B</h3>

                {% include 'inc/table.html.twig' with { is_active_month: is_active_month, bills: block_b }  %}

            </div>
        </div>
    </div>
{% endblock %}
